#hero {
  background-image: url("img/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 515px;
  text-align: center;
}
#logo{
  padding-top: 200px;
  font-size: 11vmin;
  letter-spacing: 1px;
  font-family: 'Limelight';
}

#and{
  font-family: 'Inconsolata';
  font-size: 8vmin;
}
.input-group{
  width: 75%;
  margin: auto;
}

.center-block {
  display: block;
}

#input {
  border-radius: 10px;
  border: 4px solid rgb(193, 255, 168);
  font-family: 'Inconsolata'

}

.btn {
  /*background-color: rgba(255, 255, 255, 0);*/
  border: 4px solid rgb(193, 255, 168);
  letter-spacing: 3px;
  background-color: rgb(193, 255, 168);
}

button#yummify {
  /*border-radius: 20px;*/
  margin: auto;
}

span.yummify {
  padding-top: 3vmin;
}

.btn:hover{
  background-color: rgb(173, 228, 151);
  border: 4px solid rgb(173, 228, 151);
}

div.compare {
  display: none;
}

.card {
  height: 100%;
}
.card-img-top {
  width: 100%;
}

.row div.poster {
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}

a#recipeBtn {
  color: #000;
  margin: auto;
  display: table;
  background-color: #cfd8dc;
  border: none;
}

.hide {
  display: none;
}

div .reyummify {
  margin: auto;
  padding-bottom: 50px;
}

#reyummify {
  margin: auto;
}

.face img {
  margin: 0 auto;
  display: table;
  width: 12%;
  padding-bottom: 3vmin;
}

footer div.footer {
  width: auto;
  height: auto;
  background-color: #ffb74d;
  text-align: center;
}

footer p {
  margin: auto;
  padding-top: 2vmin;

}

#logoFooter{
  padding-top: 25px;
  font-size: 6vmin;
  letter-spacing: 1px;
  font-family: 'Limelight';
  color: #fff;
}

#andFooter{
  font-family: 'Inconsolata';
  font-size: 4vmin;
}

footer div small {
  color: #fff;
  display: inline-block;
  padding-bottom: 2vmin;
}

h5#tagline {
  font-family: 'Inconsolata';
  color: #fff;
  display: inline-block;
  padding-bottom: 4vmin;
  font-size: 3vmin;

}

footer div.APIref {
  width: auto;
  /*height: 50px;*/
  background-color: #ffa726;
  font-family: 'Inconsolata';
  color: #fff;
}
